body {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  background-color: #ebebeb;
}
h1, h2, p, a, footer {
  text-align: center;
}

h1, h2, a, footer {
  color: white
}

header, footer {
  padding: 1rem;
  background-color: #1E90FF;
}

p {
  font-size: 1.5em;
  font-family: monospace, "Lucida Console";
}
h2{
  margin-left: auto;
  margin-right: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border: 10px solid white;
    box-shadow: 5px 5px 10px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-width: 0;
    font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
nav.hide {
  display: none;
}

dialog img {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    background-color: white;
}

@media screen and (max-width: 500px) {
    .pics {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav.hide {
      display: none;
    }
}

@media screen and (min-width: 700px) {
    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hide {
      display: none;
    }
}

@media screen and (min-width: 900px) {
    .pics {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-button {
      display: none;
    }
    nav.hide{
      display: flex;
    }
}