body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    background-color: #ffffff;
    color: #000000;
}


.subtitle {
    color: #006EB6; 
    font-size: 18px; 
    text-align: left;
    max-width: 600px;
    margin: 0 auto; 
}


.title {
    letter-spacing: 2px; 
    text-transform: uppercase; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}


p {
    text-align: left;
    max-width: 600px;
    margin: 0 auto 20px; 
    line-height: 1.5; 
}


.logo {
    width: 150px; 
    height: auto; 
}


.container {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left; 
}


.dark {
    background-color: #333333;
    color: #ffffff;
}

.dark .subtitle {
    color: #80C7F7; 
}
